<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/styles.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HMIS</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <main>
      <!-- <div class="nav_bar">
        <h1>Hospital Managment Information System</h1>
      </div> -->
      <div class="content_container">
        <div class="form_container">
          <div class="left">
            <h2>Consent Form</h2>
            <form action="consent/submit-form" method="post">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required />

              <label for="dateSigned">Date Signed:</label>
              <input type="date" id="dateSigned" name="dateSigned" required />

              <label for="consentText">Consent Text:</label>
              <textarea id="consentText" name="consentText" readonly placeholder="blah blah blah" required></textarea>

              <p>I agree to the <a href="#">Terms of Service</a>:<input type="checkbox" id="consentGiven" name="consentGiven" required />
              </p>  
              <p>I consent to the specified procedure:<input type="checkbox" id="consentGiven" name="consentGiven" required />
              </p> 
              <button type="submit">Submit</button>
            </form>
          </div>
          <div class="right"><div class="image_container"> 
            <image src="icecream_abstract.png" alt="abstract icecream cone next to computer" width="350">

          </div></div>
        </div>
      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>
