<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/styles.css" rel = "stylesheet"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <div class="center_align">
        <h1>Form Submission Unsuccessful</h1>
        <p>An error occured when trying to submit your form</p> 
        <button type="try_again">Try Again</button> 
      </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>