<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/styles.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <main>
      <h1>Hospital Managment Information System</h1>
      <div class="video__container">
        <iframe
          width="882"
          height="496"
          src="https://www.youtube.com/embed/QuFTCirwmoM?&autoplay=1&mute=1"
          title="BRITNEY SPEARS - TOXIC - SHITTYFLUTED"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="icon__container"></div>
    </main>
    <script src="index.js"></script>
  </body>
</html>

<script>
  const video = document.querySelector("iframe");

  setTimeout(() => {
    video.contentWindow.postMessage(
      '{"event":"command","func":"unmute","args":""}',
      "*"
    );
  }, 2000);
</script>
