@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background-position: 0px 50px;
  background-color: #ecc1cd;
}


h1 {
  letter-spacing: 0.05em;
}


main {
  display: flex;
  flex-direction: column;
}


.center_align {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 140px 80px 140px;
}


.content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form_container {
  display: flex;
  flex-direction: column;
  margin: 40px 40px 80px 40px;
  padding: 80px;
  background-color: #f8e1e7;
  width: 75%;
  border-radius: 2em;
}


.form_input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10%;
}


form {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}


label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


input[type="text"],
input[type="email"],
input[type="password"] textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: vertical;
}


#button_container {
  display: flex;
  justify-content: flex-end;
}


button[type="submit"] {
  background-color: #549979;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 7rem;
}


button[type="submit"]:hover {
  background-color: #41775e;
}


#dateSigned {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


@media only screen and (max-width: 830px) {
  .form_container {
    flex-direction: column;
    margin: 20px;
    padding: 40px;
  }


  form {
    margin-right: 0;
  }


  button[type="submit"] {
    width: 100%;
  }

  .progress{
    position: relative;  
    width: 210px;
    height: 30px;
    background: #ef42a1;
    border-radius: 5px;
    overflow:hidden; 

  }
  .progress__fill{
    width:0%; 
    height: 100%;
    background: #f397cf;
  }
  .progress__text{
    position: absolute; 
    top: 50%;  
    right:5px; 
    transform: translateY(-50%);
    color: #1b0303;
  }
}

