@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: #343434;
  letter-spacing: 0.05em;
}

main {
  display: flex;
  flex-direction: column;
}

.content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__container {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 0;
  width: 0;
}

.spin {
  animation: spin 1s both infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add this code to your CSS file */

.nav_bar {
  background-color: rgb(137, 183, 183);
  margin-bottom: 40px;
  padding-left: 20px;
}

.form_container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  margin: 40px 40px 80px 40px;
  padding: 75px 80px 25px 80px;
  background-color: rgb(236, 234, 231);
  width: 50%;
  border-radius: 2em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 40px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#dateSigned {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
